<div class="payment-page-user" id="payment">
    <div class="container row">
        <div class="col-md-6">
            <div class="payment-information">
                <h3>
                    Payment Information
                </h3>
                {{#each order}}
                <div class="card mb-3 p-1" style="max-width: 440px;">
                    <div class="row g-0">
                        <div class="col-md-5">
                            <img src="{{this.packageId.fotourl}}" class="img-fluid rounded-start" alt="..." />
                        </div>
                        <div class="col-md-7">
                            <div class="card-body" style="line-height:initial !important;">
                                <p class="card-text" style="font-weight: bolder;">
                                    Via
                                    {{this.packageId.via}}
                                </p>
                                <p class="card-text">
                                    {{this.userId.username}}
                                </p>
                                <p class="card-text" style="font-weight: bolder;">
                                    {{this.orderDate}}
                                </p>
                                <p class="card-text">
                                    {{formatCurrency this.packageId.harga}}
                                </p>
                                <div class="wrapper-btn d-flex">
                                    <button type="button" class="btn btn-sm" onclick="inputDataPayment('{{this._id}}', '{{this.packageId.harga}}', '{{formatCurrency
                        this.packageId.harga
                      }}')" style="  background-color: #ff7a00;color: #fff;font-weight: bold;border-radius: 10px;">
                                        Pay
                                    </button>
                                    <form action="/dashboard/user/delete-order" method="POST">
                                        <input type="hidden" name="orderId" value="{{this._id}}" />
                                        <button type="submit" class="btn btn-sm"
                                            style="  background-color: #FF4646;color: #fff;font-weight: bold;border-radius: 10px;">
                                            delete
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {{/each}}
                <div class="foot">
                    <div class="container text-center">
                        <p style="margin-top: 50px;">
                            All rights reserved.
                        </p>
                        <p style="margin-top: -15px;">
                            Copyright (2024 - 2024) - Bromunt
                        </p>
                        <img src="/images/logo2.png" class="img-fluid" alt="Responsive image" />
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 p-2 justify-content-center right" id="payment-right"
            style="background-color: #FFDEBF;border-radius: 10px;">
            <div class="pay-now text-center">
                <img class="img-fluid" src="/images/vecteezy_montana-forma-para-logo_30739723 1.png" class="img-fluid"
                    alt="Responsive image" />
                <div class="total mt-5">
                    <div class="payment-method my-3">
                        <h5 style="color: #ff7a00;font-weight: bold;">
                            payment method
                        </h5>
                        <div class="choose mt-3">
                            <select name="Payment" id="payment-option" onchange="updatePaymentMethod()">
                                <option value="Bank">
                                    Bank
                                </option>
                                <option value="Paypal">
                                    Paypal
                                </option>
                                <option value="Dana">
                                    Dana
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="card mb-3" style="font-weight: bold;">
                    <div class="card-body d-flex justify-content-between" style="background-color: #FFDEBF;">
                        <p class="card-text">
                            Order Total
                        </p>
                        <P class="card-text" id="show-harga" />
                    </div>
                </div>
                <div class="card mb-3" style="font-weight: bold;">
                    <div class="card-body d-flex justify-content-between" style="background-color: #FFDEBF;">
                        <p class="card-text">
                            Payment Method
                        </p>
                        <p class="card-text" id="payment-method"></p>
                    </div>
                </div>
                <form action="/dashboard/user/create-transaction" method="POST">
                    <input type="hidden" name="orderId" id="order-id-input" />
                    <input type="hidden" name="methodPayment" id="payment-input" />
                    <input type="hidden" name="totalPrice" id="harga-input" />
                    <button class="btn p-3" type="submit"
                        style="background-color: #ff7a00; width: 100%; color: #fff; font-weight: bold; font-size: 20px;border-radius: 10px;">
                        Pay Now
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>